
  .sub-orcamento{
    font-size: 18px;
    background:  #5CB0E0;
    color: #fff;
    text-align: center;
    
    
  }
  
  .item-orcamento{
    background: #dee7ecbe;
    color: #002F67;
    text-align: center;
  }