<ion-list>
  <ion-item>
    <ion-icon name="pin" color="medium"></ion-icon>
    <ion-label color="primary" class="sub-text"> Arcos / MG </ion-label>

  </ion-item>

  <ion-item href="">
    <ion-icon name="pin" color="medium"></ion-icon>
    <ion-label color="primary" class="sub-text">Ouro Branco / MG</ion-label>

  </ion-item>
  <ion-item href="">
    <ion-icon name="pin" color="medium"></ion-icon>
    <ion-label color="primary" class="sub-text">Lagoa da Prata / MG</ion-label>

  </ion-item>
  <ion-item href="">
    <ion-icon name="pin" color="medium"></ion-icon>
    <ion-label color="primary" class="sub-text">Belo Horizonte/ MG</ion-label>

  </ion-item>
  <!--<ion-item (click)="close()">
    <ion-icon name="close" color="medium"></ion-icon>
    <ion-label color="success" class="sub-text">Sair</ion-label>

  </ion-item>
  -->
</ion-list>